<form class="createnewform" action="/detalinformform" method="post">
    <div class="mb-3">
 <div>Karta</div>
 <div>name route: {{this.title}}</div>
 <div>city: {{this.location}}</div>
 <div>long: {{this.length}}</div>
 <div>author: {{this.User.name}}</div>
 <div>rating: {{this.rating}}</div>
 
  {{#if userButNoAuthor}}
  <div class="comit">
  <input name="text" type="text" class="form-control" id="exampleInputPassword1">
  <div id="emailHelp" class="form-text">Оцените, пожалуйста, маршрут</div>
  <input name="text" type="text" class="form-control" id="exampleInputPassword1">
  <div id="emailHelp" class="form-text">Оставьте, пожалуйста, свой отзыв о маршруте</div>
  <button type="submit" class="btn btn-primary">Отправить</button>
  </div>
  {{/if}}
</form>
