{{!-- <form
  class="createnewform"
  action="/cycling-trips/detalinformform/1"
  method="post"
> --}}
  <div class="mb-3">
    <div>Название маршрута: {{trip.name}}</div>
    <div>Автор: {{user.name}}</div>
    <div>Город: {{trip.place}}</div>
    <div>Длина: {{trip.length}}</div>
    {{!-- <div>name form{{formName}}</div> --}}
    {{!-- {{#each title}} --}}
  </div>
  <div class="mb-3">
    ~~~Here's map~~~
  </div>
  <div>Rating: </div>
  <div class="mb-3">
    <form name="comm"
  class="createnewform"
  action="/cycling-trips/detalinformform/1"
  method="post"
>
    <label
      for="exampleFormControlTextarea1"
      class="form-label"
    >Комментарии</label>
    <textarea
      name="comment"
      class="form-control"
      id="Textarea1"
      rows="3"
    ></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div id="emailHelp" class="form-text">Введите описание нового маршрута.</div>
  <button type="submit" class="btn btn-primary">Добавить новый маршрут</button>
  <div id="registr" class="form-text">Проверьте правильность введенных данных.</div>
  {{!-- {{#if userName}}


  {{/if}} --}}
</form>
<script src="/js/comment.js"></script>