<div class="card mb-3 container" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    23456789
    <div id="list" class="col-md-8">
      {{#each allTrips}}
        <div class="card-body">
          <h5 class="card-title">Маршрут: {{this.title}}</h5>
<!-- убрала отсюда карту - Миля-->
          <p class="card-text">Автор маршрута: {{this.userName}}</p>
          <p class="card-text">Длина маршрута: {{this.length}}</p>
          <a href="#" name="roteInfo" id="{{id}}{{routeName}}">Подробнее о
            маршруте</a>
          <p class="rating">{{trip.rating}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div id="map" style="width: 90vh; height: 50vw"></div> <!-- подключение карты - Миля-->

<script src="/js/alltrips.js"></script> <!-- подключение скрипта для карты - Миля-->