<div class="card mb-3 container" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    23456789
    <div class="col-md-8">
      {{#each allTrips}}
        <div class="card-body">
          <div id="map" style="width: 21vw; height: 25vh"></div>
          <h5 class="card-title">Маршрут: {{this.title}}</h5>
          <div class="map-container">
            <div id="map" style="width: 400px; height: 300"></div>
          </div>
          <p class="card-text">Автор маршрута: {{this.userName}}</p>
          <p class="card-text">Длина маршрута: {{this.length}}</p>
          <a href="/cycling-trips/detalinformform">{{routeName}}">Подробнее о
            маршруте</a>
          <p class="rating">{{trip.rating}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>